<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="aligner d-flex justify-content-center ">
	<div class="container text-center">
    <header>
   		<h1 id="title">The Address Book</h1>
    </header>
    <div id="book">
    <a class="btn btn-primary btn-add" href="/add">Add Contact</a>
    <form th:action="@{/search}" th:object="${searchData}" method="post">
    	<label for="search">Search (Name):</label>
    	<input type="text" id="search" name="search" th:field="*{name}">
		<input class="btn btn-primary" type="submit" value="Search">
		<span><a class="btn btn-secondary" href="/all">All</a></span>
		</form>
	<table class="table table-light">
		<thead>
			<tr>
				<th scope="col" style="text-align:center">Name</th>
				<th scope="col" style="text-align:center">Phone Number</th>
				<th scope="col" style="text-align:center">Email</th>
				<th scope="col" style="text-align:center">Address</th>
				<th scope="col" style="text-align:center">ID</th>
				<th scope="col" style="text-align:center"></th>
				<th scope="col" style="text-align:center"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${contacts.empty}">
				<td >No Addresses Available</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr th:each="contact : ${contacts}">
		        <td style="text-align:center">
		            <h5 th:text="${contact.name}">Name</h5>
		        </td>
		        <td style="text-align:center">
		            <h5 th:text="${contact.phoneNumber}">Phone Number</h5>
		        </td>
		        <td style="text-align:center">
		            <h5 th:text="${contact.email}">Email</h5>
		        </td>
		        <td style="text-align:center">
		            <h5 th:text="${contact.address}">Address</h5>
		        </td>
		        <td style="text-align:center">
		            <h5 th:text="${contact.id}">ID</h5>
		        </td>
		        <td>
		        	<a class="btn btn-secondary" th:href="@{'/edit/'+${contact.id}}">Edit</a>
		        </td>
		        <td>
		        	<a class="btn btn-danger" th:href="@{'/delete/'+${contact.id}}">Delete</a>
		        </td>
		    </tr>
		</tbody>
	</table>
    </div>
    
</div>
</div>
</body>
</html>
